{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<a class='btn btn-secondary' href="{{path('main')}}">←</a>
<div class="container mt-4">
    <h1 class="mb-3">Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}

    <div class="mb-3">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(registrationForm.email) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.plainPassword, 'Password') }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>

    <div class="mb-3 form-check">
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
        {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
        {{ form_errors(registrationForm.agreeTerms) }}
    </div>

    <button type="submit" class="btn btn-primary">Register</button>

    {{ form_end(registrationForm) }}
</div>
{% endblock %}
