{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Accueil</h1>
    
    <div class="mb-3">
        <a href="{{ path('auteurs_list') }}" class="btn btn-primary me-2">Voir tous les auteurs</a>
        {% if app.user %}
            
            <div style='float:right'><a href="{{ path('profil_edit', {'id': app.user.id})}}">{{ app.user.userIdentifier }}</a> <a class="btn btn-danger" href="{{ path('app_logout') }}">Logout</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class='btn btn-warning' href="{{ path('admin_users')}}">Admin</a>
            {% endif %}
            </div>
        {% else %}
        <div style="float:right">
        <a href="{{ path('app_login') }}" class="btn btn-secondary me-2">Login</a>
        <a href="{{ path('register') }}" class="btn btn-success">Register</a>
        </div>
        {% endif %}
    </div>

    {% for article in articles %}
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">{{ article.titre }}</h2>
                <h6 class="card-subtitle mb-2 text-muted">
                    Écrit par: 
                    <a href="{{ path('auteur_id', {'id': article.auteur.id}) }}">
                        {{ article.auteur.nom }}
                    </a>
                </h6>
                <p class="card-text">
                    <strong>Tags:</strong>
                    {% for tag in article.tags %}
                        <span class="badge bg-secondary">{{ tag.nom }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

