{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Modifier votre profil</h1>

    {{ form_start(form, {'attr': {'class': 'form'}}) }}

    {% for field in form %}
        <div class="mb-3">
            {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
            {% if field.vars.name == 'Password' %}
                <div class="row">
                    <div class="col">
                        {{ form_widget(field.first, {'attr': {'class': 'form-control', 'placeholder' : 'Nouveau mot de passe'}}) }}
                        {{ form_errors(field.first) }}
                    </div>
                    <div class="col">
                        {{ form_widget(field.second, {'attr': {'class': 'form-control', 'placeholder' : 'Confirmer le mot de passe'}}) }}
                        {{ form_errors(field.second) }}
                    </div>
                </div>
            {% else %}
                {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(field) }}
            {% endif %}
        </div>
    {% endfor %}

    <button class="btn btn-primary" type="submit">Enregistrer les modifications</button>

    {{ form_end(form) }}
</div>
{% endblock %}
