{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<a class='btn btn-secondary' href="{{path('main')}}">←</a>
<div class="container mt-4">
    {% if is_granted('ROLE_ADMIN') %}
        <h1 class="mb-3">Utilisateurs</h1>
        <a class="btn btn-success mb-3" href="#">Ajouter un utilisateur</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Actions</th>
                    <th>Rôles</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="#">Modifier</a>
                            <a class="btn btn-danger btn-sm" href="#">Supprimer</a>
                        </td>
                        
                        <td>
                        {% for role in user.roles %}
                            {{role}},
                        {% endfor %}
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger"><center>Accès refusé</center></div>
    {% endif %}
</div>
{% endblock %}
