{% extends 'base.html.twig' %}

{% block title %}Ajouter un Auteur{% endblock %}

{% block body %}
<a class='btn btn-secondary' href="{{path('main')}}">←</a>
<div class="container mt-4">
    <h1 class="mb-3">Ajouter un Auteur</h1>

    {{ form_start(form, {'attr': {'class': 'form'}}) }}

    {% for field in form %}
        <div class="mb-3">
            {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(field) }}
        </div>
    {% endfor %}

    <button class="btn btn-primary" type="submit">Ajouter</button>

    {{ form_end(form) }}
</div>
{% endblock %}
