{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
<a class='btn btn-secondary' href="{{path('main')}}">←</a>
<div class="container mt-4">
    <h1 class="mb-3">{{ auteur.nom }}</h1>

    <h2 class="mb-2">Articles</h2>
    <ul class="list-group">
        {% for article in articles %}
            <li class="list-group-item">
                {{ article.titre }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
