{% extends 'base.html.twig' %}

{% block title %}Liste des Auteurs{% endblock %}

{% block body %}
<a class='btn btn-secondary' href="{{path('main')}}">←</a>
<div class="container mt-4">
    <h1 class="mb-3">Tous les Auteurs</h1>
    <a href="{{ path('add_auteur') }}" class="btn btn-success mb-3">Ajouter un auteur</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for auteur in auteurs %}
                <tr>
                    <td>{{ auteur.nom }}</td>
                    <td>
                        <a href="{{ path('modify_auteur', {'id': auteur.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                        <a href="{{ path('remove_auteur', {'id': auteur.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
