{% extends 'base.html.twig' %}

{% block title %}Modifier Auteur{% endblock %}

{% block body %}
<a class='btn btn-secondary' href="{{path('auteurs_list')}}">←</a>
<div class="container my-4">
    <h1 class="mb-3">Modifier Auteur</h1>

    {{ form_start(form, {'attr': {'class': 'form'}}) }}

    <div class="mb-3">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nom) }}
    </div>

    <button class="btn btn-primary" type="submit">Modifier</button>

    {{ form_end(form) }}
</div>
{% endblock %}
