{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-3">Tous les Articles</h1>

    <ul class="list-group">
        {% for article in articles %}
            <li class="list-group-item">
                {{ article.titre }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
